html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing:inherit;
}

@font-face{
    font-family: 'Corporate-A-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
        url('../fonts/Corporate-A-Bold.woff') format('woff');
}

body{
    background: #070A1B;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
ul{
    list-style: none;
}
.header {
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__nav {

}
.header__nav-img {
}
.logo {
}
.logo-img {
}
.list {
    display: flex;
}
.list__item + .list__item{
    margin-left: 30px;
}
.list__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:  background 0.3s;
    -webkit-transition:  background 0.3s;
    -moz-transition:  background 0.3s;
    -ms-transition:  background 0.3s;
    -o-transition:  background 0.3s;
}
.list__link:hover{
    background-color: #C1A1D2;
}


.list__img {
}

.header__content {
    background-image: url(./../images/header-bg.png);
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    position: relative;
}

.header__content ::before{
    content:"";
    background-image: url(../images/decor.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    bottom: -25px;
}
.title {
    font-family: 'Corporate-A-Bold';
    font-size: 72px;
    line-height: 120%;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
.header__title-descr {
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 55px;
}

.concept {
    padding-top: 150px ;
    margin-bottom: 150px;
}
.concept__inner {
    max-width: 900px;
    margin-left: auto;
}
.concept__title {
}
.section__title {
    font-family: 'Corporate-A-Bold';
    font-size: 18px;
    line-height: 120%;
    color: #F402A2;
    text-transform: uppercase;
    margin-bottom: 25px;

}
.concept__text {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 25px;
}
.concept__img {
}

.premier {
    margin-bottom: 150px;
}
.container {
}
.premier__inner {
    display: flex;
    gap: 60px;
}
.premier__column {
}
.section__title {
}
.premier__text {
    margin-bottom: 21px;
}
.premier__img {
    margin-bottom: 20px;
}
.premier__btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Corporate-A-Bold';
    font-size: 18px;
    line-height: 120%;
    color:#F402A2;
    text-align: center;
    padding: 14px;
    border: 1px solid #F402A2;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 300px;
}
